<div class="row">
  <label class="col-form-label">Filtro:</label>
  <div class="col-sm-2">
  <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filterList"> </div>
  <div class="col">
    <button class="btn btn-primary">Buscar</button>
  </div>
  <br><br>
</div>

<h6>Filtrando por: {{filterList}}</h6>
<table class="table table-striped">
  <thead class="table table-dark table-striped">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternateImages()">
          Mostrar Imagem
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of filteredEvents">
      <td>
        <img *ngIf="showImages" src="http://localhost:5000/img/{{evento.imageUrl}}" [style.width.px]="imageWidth"
          [style.margin.px]="imageMargin">
      </td>
      <td>{{evento.eventId}}</td>
      <td>{{evento.subject}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.eventDate}}</td>
      <td>{{evento.amountOfPeople}}</td>
      <td>{{evento.lot | uppercase}}</td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos || !eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h5>
          Nenhum evento encontrado!
        </h5>
      </td>
    </tr>
  </tfoot>
</table>
